<template name="about">

<style>
div .aboutpara { 
clear: both; 
margin-top: 2.5em;
}
</style>

<div class="aboutpara">
<h1>What's this about?</h1>

<p><img src="images/notebooks.jpg" align="right" style="margin-left: 1em; margin-bottom: 1em; max-width: 40%;">
Before our son was born in 2013, I went searching for a notebook to fill with milestones and thoughts about parenthood. I was looking for an American-made alternative to the ubiquitous Moleskine, and discovered <a href="http://fieldnotesbrand.com/">Field Notes</a>. It wasn't long before I was hooked on pocket notebooks - I started using them daily: tracking tasks, logging events, jotting down thoughts and capturing business ideas. I adapted the awesome <a href="http://www.bulletjournal.com/">Bullet Journal System</a> to keep track of all the stuff I was writing.</p>

<p>Inspired by <a href="https://twitter.com/draplin">Aaron Draplin's</a> contagious <a href="http://fieldnotesbrand.com/memo-archive/">enthusiasm</a>, and fueled by <a href="http://twitter.com/dowdyism">Brad</a> and <a href="http://twitter.com/dowdyism">Myke</a> on <a href="http://www.relay.fm/penaddict">The PenAddict</a>, I quickly began filling up books. I realized that I was assembling a wonderful personal library - with no catalog! Most of my books have a small index, but... which one contains our son's first word? The done temperature of a baked potato? Hard to say without searching book-by-book.</p>

<p>I decided I needed a simple, searchable, sortable index of the <strong>topics</strong> in my books, and Indxd was born. I built this site to provide a no-frills searchable index for those stacks of notebooks we're all accumulating.</p>
</div>

{{#unless currentUser}}
<div class="aboutpara">
<h3>Count me in! How do I start?</h3>

<p>To get started, create an account using the "Sign in / up" menu in the navigation bar. Once you're signed up, create a new notebook using the "New Book" page, then start adding topics. Adding a page number for topics is optional.</p>
<p>Once you've got some books and topics entered, visit the "Index" page for a 
complete list of all your topics, or use the "Search" page to find a specific topic or book.</p>
</div>
{{/unless}}

<div class="aboutpara">
<h3>Is my information safe?</h3>

<p>Your notebook list and topic index are unique and private to your account; no other users can see the content you add to Notebook List. The content of your lists is not encrypted on the server, so you might want to use a code-word for deeply personal topics.</p>

<p>Indxd e-mails you a plain text backup of your book list and topic index every weekend. I recommend filing these away in your e-mail system - they'll be searchable in a pinch, and if this site ever goes away, you'll still have your data.</p>
</div>

<div class="aboutpara">
<h3>How is it built?</h3>

<p>Around the same time I realized I needed a notebook index, I was also looking for a good excuse to try out the <a href="http://meteor.com/">Meteor JavaScript Framework</a>. I built this site using Meteor, with some help from plug-ins for Underscore.js, jQuery, FontAwesome, lunr.js and Bootstrap.</p>

<p>For now, this site is served up from Meteor's cloud hosting service. If it eventually outgrows that service, I'll migrate it to a Node.js host that's up to the task. Since that will probably cost money, I'll probably ask for donations, but my goal is to keep this site free to use and enjoy.</p>

<p>Indxd is Open Source Software. The full source code of the app is published on GitHub. If you'd like to contribute, submit a pull request there.</p>
</div>

<div class="aboutpara">
<h3>I found a bug!</h3>
<p>Since this is my first attempt at at Meteor app, and my background is in C code that runs on microchips (not JavaScript!) I'd really like to hear about any bugs you find. If something isn't working, or if you think some part of this app could be done better, please let me know in the GitHub issue tracker. Feature requests are welcome there, too!</p>
</div>

<div class="aboutpara">
<h3>Who built it?</h3>

<p><img src="https://pbs.twimg.com/profile_images/378800000468690189/36167aa713033a1be862e2028e50f893.jpeg" align="left" width="80" height="80" style="margin-right: 1em; margin-bottom: 1em; max-width: 50%;">
My name is Dave Rea - I'm a husband and dad in-training, an embedded electronics developer by day, and a wannabe cyclist and photographer. I love exploring the world of pens, pencils and notebooks, and I use them every day.</p>
<p>You can find me on <a href="http://twitter.com/mtbkrdave">Twitter</a>, <a href="http://google.com/+DavidRea">Google+</a> and at <a href="http://daverea.com/">daverea.com</a>.</p>
</div>

<div class="aboutpara">
<h3>Credits</h3>

<ul>
<li>Field Notes image (above) by <a href="https://flic.kr/p/boMPBv">Thomas Huang</a></li>
<li>Card Catalog image via <a href="http://commons.wikimedia.org/wiki/File:Card_Catalog_2.jpg">WikiMedia Commons</a></li>
<li>Front page icons:
  <ul><li>"Gift" created by <a href="http://thenounproject.com/term/gift/19558/">Stefan Parnarov</a> from the Noun Project</li>
  <li>"Rocket" created by <a href="http://thenounproject.com/term/rocket/8923/">Cris Dobbins</a> from the Noun Project</li>
  <li>"Cloud-Transfer" created by <a href="http://thenounproject.com/term/cloud-transfer/65892/">Andrew Nolte</a> from the Noune Project</li>
  </ul></li>
</ul>
</div>

</template> <!-- /about -->
