<template name="about">

<style>
div .aboutpara { clear: both; }
</style>

<div class="aboutpara">
<h1>What's this about?</h1>

<p><img src="fieldnotes.jpg" align="right" style="margin-left: 1em; margin-bottom: 1em;">
A few months before our son was born in 2013, I went searching for a notebook to fill with milestones and thoughts about parenthood. I was looking for an American-made alternative to the ubiquitous Moleskine, and quickly found <a href="http://fieldnotesbrand.com/">Field Notes</a>. It wasn't long before I was hooked on pocket notebooks - I started using them daily: tracking tasks, logging events, jotting down thoughts and planning business ideas. I adopted Ryder Carroll's <a href="http://www.bulletjournal.com/">Bullet Journal System</a> to keep track of all the stuff I was capturing.</p>

<p>Inspired by <a href="https://twitter.com/draplin">Aaron Draplin's</a> contagious <a href="http://fieldnotesbrand.com/memo-archive/">enthusiasm</a>, and fueled by <a href="http://twitter.com/dowdyism">Brad</a> and <a href="http://twitter.com/dowdyism">Myke</a> on the <a href="http://www.relay.fm/penaddict">PenAddict Podcast</a>, I filled 10 of them in under 2 years. I realized that I was assembling a wonderful personal library with no catalog. Most of my books have an index, but...which one contains the "done" temperature of a baked potato? Hard to say without consulting each book's index. (And for the record, that's in my FN Drink Local "Amber Ale".)</p>

<p>I decided I needed a simple, searchable, sortable, easy-to-capture index of the <strong>topics</strong> in my books, and Notebook Index was born. I built this site to provide a no-frills searchable index for those stacks of notebooks we're all accumulating.</p>
</div>

<div class="aboutpara">
<h1>Count me in! How do I start?</h1>

<p>To get started, create an account using the "Sign in / up" menu in the navigation bar. You can join with your Google or Twitter account, or a good ol' fashioned e-mail and password. Once you're signed up, create a new notebook using the "New Book" page, then start adding topics. Adding a page number for topics is optional.</p>
<p>Once you've got some books and topics entered, visit the "Index" page for a 
complete list of all your topics, or use the "Search" page to find a specific topic or book.</p>
</div>

<div class="aboutpara">
<h1>Is my information safe?</h1>

<p>Your notebook list and topic index are unique and private to your account; no other users can see the content you add to Notebook List. The content of your lists is not encrypted on the server, so you might want to use a code-word for deeply personal topics.</p>

<p>Notebook Index e-mails you a backup of your book list and topic index as a plain text file every weekend. I recommend filing these away in your e-mail system - they'll be searchable in a pinch, and if this site ever goes away, you'll still have your data.</p>
</div>

<div class="aboutpara">
<h1>How is it built?</h1>

<p>Around the same time I realized I needed a Notebook Index, I was also looking for a good excuse to try out the <a href="http://meteor.com/">Meteor JavaScript Framework</a>. I built this site using Meteor, with some help from plug-ins for Underscore.js, jQuery, FontAwesome, lunr.js and Bootstrap.</p>

<p>For now, this site is served up from Meteor's cloud hosting service. If it eventually outgrows that service, I'll migrate it to a Node.js host that's up to the task. Since that will probably cost money, I'll probably ask for donations, but my goal is to keep this site free to use and enjoy.</p>

<p>Notebook Index is Open Source Software. The full source code of the app is published on GitHub. If you'd like to contribute, submit a pull request there.</p>
</div>

<div class="aboutpara">
<h1>Who built it?</h1>

<p><img src="https://pbs.twimg.com/profile_images/378800000468690189/36167aa713033a1be862e2028e50f893.jpeg" align="left" width="80" height="80" style="margin-right: 1em; margin-bottom: 1em;">
My name is Dave Rea - I'm a husband and dad in-training, an embedded electronics developer by day, and a wannabe cyclist and photographer. I love exploring the world of pens, pencils and notebooks, and I use them every day. You can find me on <a href="http://twitter.com/mtbkrdave">Twitter</a>, <a href="http://google.com/+DavidRea">Google+</a> and at <a href="http://daverea.com/">daverea.com</a>.</p>
</div>

<div class="aboutpara">
<h1>Credits</h1>

<ul>
<li>Field Notes image (above) by Thomas Huang: <a href="https://flic.kr/p/boMPBv">https://flic.kr/p/boMPBv</a></li>
</ul>
</div>

</template> <!-- /about -->
