<template name="notebookPage">

<script>
var bookname = Template.currentData().name;
document.title = 'Indxd | Notebook: ' + bookname;
</script>

<style>
h4
{
  margin-top: 1.5em;
}

.topicbtn
{
  margin: 0.2em;
  border-radius: 8px;
}
</style>

<div class="container">

{{> notebook}}

{{#if hastopics}}
<h4>Topics in {{name}}</h4>
<div style="margin-top: 0.5em; margin-bottom: 0.5em;">
{{#each topics}}<button class="btn btn-default topicbtn" id="{{_id}}">{{topic}}{{#if page}} ({{page}}){{/if}}</button>{{/each}}
</div>
<p style="color: gray;"><em>Double-click a topic to remove it from this book.</em></p>
{{/if}}

<h4>Add a Topic</h4>
<form>

<input type="text" class="form-control" id="inputTopic" placeholder="Topic" style="width: 20em; margin: 0.25em; margin-left: 0px; float: left;">
<input type="text" class="form-control" id="inputPage" placeholder="##" style="width: 5em;  margin: 0.25em; float: left;">
<button class="btn btn-primary" style=" margin: 0.25em;">Add</button>

</form>

</div> <!-- /container -->

</template> <!-- /notebookPage -->
