<template name="notebookPage">

<script>
var bookname = Template.currentData().name;
document.title = 'Indxd | Notebook: ' + bookname;
</script>

<style>
h4
{
  margin-top: 1.5em;
}

.topicbtn
{
  margin: 0.2em;
  border-radius: 8px;
}
</style>

<div class="container">

{{> notebook}}

{{#if hastopics}}
<h4>Topics in {{name}}</h4>
<div style="margin-top: 0.5em; margin-bottom: 0.5em;">
{{#each topics}}<button class="btn btn-default" style="margin-right: .5em; margin-top: 0.5em;"><span class="topicbtntitle" id="{{_id}}">{{topic}}{{#if page}} ({{page}}){{/if}}</span><a href="#" class="topicdel" style="margin-left: 0.8em;"><i id="{{_id}}" class="fa fa-trash-o" style="color: #FCC;"></i></a></button>{{/each}}
</div>
<p style="color: gray; font-size: 0.8em;"><em>Click/tap a topic to edit it.<br>Tap the trash can icon to remove the topic from this book.</em></p>
{{/if}}

<h4>Add a Topic</h4>
<form>

<div class="row">
<div class="col-md-4" style="margin-top: .5em; padding-right: 0px;">
<input type="text" class="typeahead form-control" name="topicInput" data-source="distinctTopics" autocomplete="off" spellcheck="off" id="inputTopic" placeholder="Add Topic">
</div>

<div class="col-md-8" style="margin-top: .5em;">
<input type="text" class="form-control" id="inputPage" placeholder="##" style="width: 5em; float: left;">
<button class="btn btn-primary" style="margin-left: 12px;">Add</button>
</div>
</div> <!-- /row -->
<p style="color: gray; font-size: 0.8em; margin-top: .5em;"><em>Page numbers are optional.</em></p>

</form>

</div> <!-- /container -->

</template> <!-- /notebookPage -->
