<template name="notebook">

<div class="notebook">
<h1><i class="fa fa-book"></i> <a href="{{pathFor 'notebookPage'}}">{{name}}</a></h1>
<p>
{{#if startDate}}
  {{startDate}} <i class="fa fa-long-arrow-right"></i>
{{else}}
  {{#if endDate}}
    Finished on
  {{/if}}
{{/if}}
{{#if endDate}}
  {{endDate}}
{{else}}
  Not Finished Yet
{{/if}} &#8226; {{topicCount}} topics &#8226; <a href="{{pathFor 'notebookEdit'}}"><i class="fa fa-pencil-square-o"></i></a></p>
</div><!-- /notebook -->

</template>
