<template name="search">

<script>
document.title = 'Indxd | Search';
</script>

<div class="container">

<h1>Search Topics & Books</h1>

<form>
<input type="text" class="form-control" id="search" placeholder="Search..." value="{{search}}">
</form>

<div class="search-results">

{{#if searchReady}}

<h1>Results</h1>

<h3>Topics Found</h3>

	{{#if topicSearchResults}}
		<ul class="leaders">
		{{#each topicSearchResults}}
			{{> topicListEntry}}
		{{/each}}
		</ul>
	{{else}}
		<div class="alert alert-warning">Sorry, no topics found for {{search}}.</div>
	{{/if}}

<h3>Books Found</h3>

	{{#if notebookSearchResults}}
		<ul>
		{{#each notebookSearchResults}}
			<li><a href="{{pathFor 'notebookPage'}}">{{name}}</a></li>
		{{/each}}
		</ul>
	{{else}}
		<div class="alert alert-warning">Sorry, no books found for {{search}}.</div>
	{{/if}}

{{else}}
<div class="alert alert-info" role="alert" style="margin-top: 1em;">Enter at least 3 characters to begin search...</div>
{{/if}}

</div> <!-- /search-results -->



</div> <!-- /container-->

</template> <!-- /search -->
