<template name="topicList">

{{#each letters}}
  {{#if hasTopics}}
    <h3>{{letter}}</h3>
    <ul class="leaders">
    {{#each topicsForLetter}}
      <li><span>{{topic}}</span>
          <span><a href="{{pathFor 'notebookPage' _id=this.bookId}}">{{bookName}}</a></span></li>
    {{/each}}
    </ul>
  {{/if}}
{{/each}}

{{#unless topicTotal}}
<div class="alert alert-warning"><strong>It looks like you haven't entered any topics yet!</strong> Visit your <a href="{{pathFor 'notebookList'}}">notebook list</a> (or <a href="{{pathFor 'newBook'}}">add a new book</a>) to start entering topics.</div>
{{/unless}}

</template> <!-- /topicList -->
