<template name="topicList">

<style>
ul.leaders {
    max-width: 100em;
    padding: 0;
    overflow-x: hidden;
    list-style: none}
ul.leaders li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: white}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: white;
    position: relative;
    z-index: 1}
</style>

{{#each letters}}
  {{#if hasTopics}}
    <h3>{{letter}}</h3>
    <ul class="leaders">
    {{#each topicsForLetter}}
      <li><span>{{topic}}</span>
          <span><a href="{{pathFor 'notebookPage' _id=this.bookId}}">{{bookName}}</a></span></li>
    {{/each}}
    </ul>
  {{/if}}
{{/each}}

{{#unless topicTotal}}
<div class="alert alert-warning"><strong>It looks like you haven't entered any topics yet!</strong> Visit your <a href="{{pathFor 'notebookList'}}">notebook list</a> (or <a href="{{pathFor 'newBook'}}">add a new book</a>) to start entering topics.</div>
{{/unless}}

</template> <!-- /topicList -->
