<template name="topicList">

<script>
document.title = "Indxd | Topic Index";
</script>

{{#each letters}}
  {{#if hasTopics}}
    <h3>{{letter}}</h3>
    <ul class="leaders">
    {{#each topicsForLetter}}
      <li>
        {{#if multipleBooks}}
          <span>{{topic}}</span><span>(<a data-toggle="collapse" href="#collapse-{{topic}}">{{bookCount}} Books</a>)</span>
        {{else}}
          {{#each bookList}}
            <span>{{referringTopic}}</span><span><a href="{{pathFor 'notebookPage' _id=bookId}}">{{bookName}}</a>{{#if bookPage}} (p. {{bookPage}}){{/if}}</span>
          {{/each}}
        {{/if}}
      </li>
      <div class="collapse" id="collapse-{{topic}}" style="margin-top: .5em;">
        <div class="well">
          <p>The topic <strong>{{topic}}</strong> appears in these books:</p>
          {{#each bookList}}
            <a href="{{pathFor 'notebookPage' _id=this.bookId}}">{{bookName}}</a>{{#if bookPage}} (p. {{bookPage}}){{/if}}<br>
          {{/each}}
        </div>
      </div>
    {{/each}}
    </ul>
  {{/if}}
{{/each}}

{{#if others}}
<h3>Other Topics</h3>
<p>If a topic begins with anything other than a letter (i.e. punctuation, numbers), it'll show up here</p>
<ul class="leaders">
{{#each others}}
<li><span>{{topic}}</span><span><a href="{{pathFor 'notebookPage' _id=this.bookId}}">{{bookName}}{{#if page}} ({{page}}){{/if}}</a></span></li>
{{/each}}
</ul>
{{/if}}

{{#unless topicTotal}}
<div class="alert alert-warning"><strong>It looks like you haven't entered any topics yet!</strong> Visit your <a href="{{pathFor 'notebookList'}}">notebook list</a> (or <a href="{{pathFor 'newBook'}}">add a new book</a>) to start entering topics.</div>
{{/unless}}

</template> <!-- /topicList -->
