<template name="welcome">

<div class="row featurette">
<div class="col-md-7">
  <h2 class="featurette-heading">If you're like me, you fill up a lot of notebooks</h2>
  <p class="lead">Pocket notebooks are awesome (and not just because <a href="http://fieldnotesbrand.com/memo-archive/" target="_blank">Draplin says so</a>) - you can fill them up with all the thoughts, events, lists and musings that make you, <em>you</em>.</p>
</div> <!-- /col-md-7 -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="images/notebooks.jpg" alt="Lots of notebooks!">
</div> <!-- /col-md-5 -->
</div> <!-- /row featurette -->

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="images/cardcatalog.jpg" alt="Old-fashioned library card catalog">
</div> <!-- /col-md-5 -->
<div class="col-md-7">
  <h2 class="featurette-heading">Searching notebooks is a pain</h2>
  <p class="lead">All these notebooks are great - until we need one bit of information and don't know which book it's in. While you might index individual books, notebooks don't offer a single way to search for the stuff you care about.</p>
</div> <!-- /col-md-7 -->
</div> <!-- /row featurette -->

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7">
  <h2 class="featurette-heading">So Now, There's Notebook Index</h2>
  <p class="lead">I wanted a simple, searchable index of all the topics in all my notebooks. So I built it, and you can use it too.</p>
  <p class="lead">Notebook Index is designed to let you rapidly enter your notebooks and their topics, then easily search and browse everything, from anywhere you can get online.</p>
</div> <!-- /col-md-7 -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="images/searchable.jpg" alt="Image of a screen showing topic search">
</div> <!-- /col-md-5 -->
</div> <!-- /row featurette -->

<hr class="featurette-divider">

<div class="container marketing">
<div class="row">
  <div class="col-lg-4" style="text-align: center; margin-top: 2em;">
    <img class="img-circle" src="images/fast.jpg" alt="It's fast, easy and minimal" style="width: 140px; height: 140px;">
    <h2>Fast. Easy. Minimal.</h2>
    <p>I designed Notebook Index to allow rapid entry of books and topics, and easy searching. It's intentionally-minimal, because the good stuff should live in our notebooks.</p>
  </div> <!-- /col-lg-4 -->
  <div class="col-lg-4" style="text-align: center; margin-top: 2em;">
    <img class="img-circle" src="images/free.jpg" alt="It's free" style="width: 140px; height: 140px;">
    <h2>Free & Open-Source</h2>
    <p>Notebook Index is a simple app that I made in my spare time. My goal isn't to earn income with it; I just wanted to make something cool for a community that has been a real source of joy for me.</p>
  </div> <!-- /col-lg-4 -->
  <div class="col-lg-4" style="text-align: center; margin-top: 2em;">
    <img class="img-circle" src="images/safe.jpg" alt="It's free" style="width: 140px; height: 140px;">
    <h2>Backed-up With You</h2>
    <p>Every week, Notebook Index will send you a backup e-mail, with your index attached as a text file. If this site ever goes away, your index backups won't.</p>
  </div> <!-- /col-lg-4 -->
</div> <!-- /row -->
</div> <!-- /container marketing -->

</template> <!-- /welcome -->
