<template name="welcome">

<div class="row featurette">
<div class="col-md-7">
  <h2 class="featurette-heading">Pocket Notebooks Rock...</h2>
  <p class="lead">We all love our notebooks (and not just because <a href="http://fieldnotesbrand.com/memo-archive/" target="_blank">Draplin does too</a>) - we fill them with lists, tasks, events, thoughts, doodles, sketches, ideas, and everything else that keeps us sane and makes us who we are.</p>
</div> <!-- /col-md-7 -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="images/notebooks.jpg" alt="Lots of notebooks!">
</div> <!-- /col-md-5 -->
</div> <!-- /row featurette -->

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7">
  <h2 class="featurette-heading">...But Searching Them Doesn't</h2>
  <p class="lead">Filling up notebooks is great - but what happens when you need one obscure factoid that's stashed somewhere among dozens of notebooks? Searchability is Analog's Achilles heel.</p>
</div> <!-- /col-md-7 -->
<div class="col-md-5">
  <img class="featurette-image img-responsive" src="images/cardcatalog.jpg" alt="Old-fashioned library card catalog">
</div> <!-- /col-md-5 -->
</div> <!-- /row featurette -->

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7">
  <h2 class="featurette-heading">Introducing <strong>Indxd</strong></h2>
  <p class="lead">I wanted a simple, searchable index of all the topics in all my notebooks. So I built it, and you can use it too.</p>
  <p class="lead">Indxd lets you quickly enter notebooks and their topics, then search and browse everything.</p>
</div> <!-- /col-md-7 -->
<div class="col-md-5">
  <a href="https://www.youtube.com/watch?v=a6k1U5bTU48" data-toggle="lightbox"><img class="featurette-image img-responsive" src="images/introvideo.jpg" alt="Image of a screen showing topic search"></a>
</div> <!-- /col-md-5 -->
</div> <!-- /row featurette -->

<hr class="featurette-divider">

<div class="container marketing">
<div class="row">
  <div class="col-lg-4" style="text-align: center; margin-top: 2em;">
    <img class="img-circle" src="images/fast.jpg" alt="It's fast, easy and minimal" style="width: 140px; height: 140px;">
    <h2>Fast. Easy. Minimal.</h2>
    <p>I designed Indxd for rapid entry of books and topics, and easy searching. It's intentionally-minimal, because the good stuff belongs in our notebooks.</p>
  </div> <!-- /col-lg-4 -->
  <div class="col-lg-4" style="text-align: center; margin-top: 2em;">
    <img class="img-circle" src="images/free.jpg" alt="It's free" style="width: 140px; height: 140px;">
    <h2>Free & Open-Source</h2>
    <p>Indxd is a simple app that I made in my spare time. It's free and open, designed to be shared with this community that has brought me so much joy.</p>
  </div> <!-- /col-lg-4 -->
  <div class="col-lg-4" style="text-align: center; margin-top: 2em;">
    <img class="img-circle" src="images/safe.jpg" alt="It's free" style="width: 140px; height: 140px;">
    <h2>Backed-up With You</h2>
    <p>Once a week, Indxd will send you a backup e-mail containing your index in plain text. If this site ever goes away, your index backups won't.</p>
  </div> <!-- /col-lg-4 -->
</div> <!-- /row -->
</div> <!-- /container marketing -->

</template> <!-- /welcome -->
